
<h1> Список пользователей </h1>
<h6> Количество элементов в таблице: </h6>
<select [(ngModel)]="selectedOption">
    <option *ngFor="let o of options">
        {{o.id}}
    </option>
</select>
<button (click)="print()">Click me</button>

<p>Selected option: {{ selectedOption }}</p>
<button type="button" id="xml" (click)="callFunc()" >Export Xml</button>

<table id="myTable" class="table table-bordered">
    <thead>
        <tr>
            <th>FirstName</th>
            <th>LastName</th>
            <th>Email</th>
        </tr>
    </thead>
    <tbody>
    <tr *ngFor="let user of users|slice:startIndex:endIndex">
        <td>{{user.firstName}}</td>
        <td>{{user.lastName}}</td>
        <td>{{user.email}}</td>
    </tr>
    </tbody>

</table>
<nav aria-label="Page navigation example">
    <ul class="pagination">
        <li  *ngFor="let i of getArrayFromNumber(users.length);let in=index" class="page-item"><a class="page-link" (click)="updateIndex(in)">{{in+1}}</a></li>
    </ul>
</nav>

